/* Reset css start*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
html {
	height: 100%;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}
/* Reset css end*/

html{
    box-sizing: border-box;
    height: 100%;
  }

body {
    background: url(images/SSP.png) no-repeat;
    background-size: cover;
    font-family: 'Fjalla One', sans-serif;
    height: 100%;
    /*display: flex;*/
    }

/* для header start*/
header{
    display: flex;
}
.schedule{
    margin-left: 40px;
}
/* для header end*/

/* для логотипа start*/
  .header_logo {
    display: inline-block;
    margin-top: 2px;
    margin-left: 2px;
    color: #fff;
    text-shadow:
    0 0 7px #fff,
    0 0 10px #fff,
    0 0 21px #fff,
    0 0 42px #bc13fe,
    0 0 82px #bc13fe,
    0 0 92px #bc13fe,
    0 0 102px #bc13fe,
    0 0 151px #bc13fe;  
    font-size: 4.2rem;
    animation: pulsate 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 0.5rem;
    padding: 0.15em;
    box-shadow: 0 0 .2rem #fff,
                0 0 .2rem #fff,
                0 0 .2rem #bc13fe,
                0 0 0.8rem #bc13fe,
                0 0 0.28rem #bc13fe,
                inset 0 0 1.3rem #bc13fe;
    }
    @keyframes pulsate {
        100% {
            text-shadow:
             0 0 4px #fff,
             0 0 11px #fff,
             0 0 19px #fff,
             0 0 40px #bc13fe,
             0 0 80px #bc13fe,
             0 0 90px #bc13fe,
             0 0 100px #bc13fe,
             0 0 150px #bc13fe;
   }
           0% {
             text-shadow:
             0 0 2px #fff,
             0 0 4px #fff,
             0 0 6px #fff,
             0 0 10px #bc13fe,
             0 0 45px #bc13fe,
             0 0 55px #bc13fe,
             0 0 70px #bc13fe,
             0 0 80px #bc13fe;
   } }
p{
    font-size: 20px;
}
  /* для логотипа end*/

/* для видео start*/
    .video{
      margin-top: 20vh;
      width: 100wh;
      height: 100px;
      display:flex;
      flex-direction: row;
      cursor: pointer;
      justify-content: space-around;
    }
    .slide-video{
      height: 200px;
      margin: 5px;
      border-radius: 3px;
    }
   /*  для видео end*/

   /* для more_video start*/
.more_video{
    width: 120px;
    height: 60px;
    margin-top: 20vh;
    margin-left: 20vh;
}
   /* для more_video end*/

   /* для games start*/
.games{
    width: 60px;
    height: 40px;
    margin-left: 5vh;
}
   /* для games end*/

  /* для фото start*/
@import url('https://fonts.googleapis.com/css?family=Fjalla+One');
@import url('https://fonts.googleapis.com/css?family=Exo+2');
.accordion {
    width: 100wh;
    height: 120px;
   /* margin: 5px auto;*/
    display: flex;
    box-shadow: 0px 3px 3px rgba(5, 4, 4, 0.47);
    flex-direction: row;
    cursor: pointer;
   /* margin-bottom: 20px;*/
}
.box {
    margin-left: 5px;
    border-radius: 3px;
    position: relative;
    /*height: 100%;*/
    width: 100vh;
    flex: 1;
    background-position: left;
    background-size: cover;
    transition: .7s;
    box-shadow: 0px 20px 30px rgba(0, 0, 0, 0.47);
}
.box:hover{
    flex: 5;
    height: 200px;
}
.a1 {
    background-image: url("images/Катя1.jpg");
}
.a2 {
    background-image: url("images/Катя2.jpg");
}
.a3 {
    background-image: url("images/Катя3.jpg");
}
.a4 {
    background-image: url("images/Катя4.jpg");
}
.a5 {
    background-image: url("images/Катя5.jpg"); 
    margin-right: 5px;
}
.text {
    position: absolute;
    bottom: 0;
    opacity: 0;
    padding: 2px;
    color: #fff;
    
}
.box:hover .text{
    opacity:1;
}
@media screen and (max-width: 340px){
    body{
        margin: 0;
    }
    .accordion {
       /* flex-direction: column;*/
        flex-direction: row;
        height: 100px;
        box-shadow: none;
    }
    .box {
        box-shadow: none;
    }
    .box:hover {
        margin-top: -33px;
        flex: 7;
    }
}
  /* для фото end*/

    /* для footer start*/
 footer{
     display: flex;
     position: sticky;
     flex: 0 0 auto;
     justify-content: space-around;
 }

      /* для footer end*/
      .wrapper {
        display: flex;
        flex-direction: column;
        min-height: 100%;
    }
    .content {
        flex: 1 0 auto;
    }
    